*{
    font-size: larger;
    font-style: italic;
}
.box{
    background-color: rgb(12, 58, 42);
    width: 80%;
    height: 80%;
    color: aliceblue;
}
.logo{
    color: brown;    
}

.click{
    position: relative;
    bottom: -230px;
    right: 40%;
    width: 200px;
    background-color: rgb(49, 176, 235);
}
body{

    background-image: linear-gradient(blue,red);
    background-size: contain;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* الشاشات الصغيرة جدًا (أقل من 480px) */
@media (max-width: 600px) {
    .click {
        font-size: 16px;
        padding: 12px;
    }
    body{
        width: 100%;
        display: flex;
        justify-content:center ;
    }

     .box{
        position: absolute;
        left: 1px;  
        width: 50%;
        height: 20%;
        font-size: 14px;
        min-height: 80px;
        padding: 50px;
    }

    .logo {
        display: none;
        position: absolute;
        width: 200px;
        font-size: 18px;
        text-align: center;
    } }


